@import url(/css/inc/reset.css);
@import url(/css/inc/layout.css);
@import url(/css/inc/style.css);
@charset "UTF-8";

#board-main{
	position:relative;
	display:flex;
	font-size:14px;
	min-height:90vh;
	height:100%;
	color:black;
	justify-content:center;
	align-items:center;
}

.board-container{
	position:relative;
	display:flex;
	width:85%;
	height:100%;
	border-top:solid 1px black;
	border-bottom:solid 1px black;
	--background:#979797;
	justify-content:center;
}

.board-container form{
	position:relative;
	margin-left:7%;
	width:100%;
	height:70vh;
	}
	.post-table{
	--position:relative;
	width:90%;
	}
	.post-table tbody tr{
	margin-top:20px;
	}
.content-area{
	--position:relative;
	width:100%;
	min-height:500px;
	resize:none;
}

.post-btn{
	position:inherit;	
	display:flex;
	justify-content:flex-end;
	margin:10px 10% 0 0;
}