@import url(/css/inc/reset.css);
@import url(/css/inc/layout.css);
@import url(/css/inc/style.css);
img{
	 width: 100%;
    height: auto;
}
.detail {
    display: none;
    width: 80%;
    min-width:1024px;
    height: 100%;
    z-index: 1;
    position: absolute;
    color: black;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.detail .context{
  position: relative;
  width:100%;
}

    .board-container {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        column-gap: 80px;
        row-gap: 40px;
        margin: 0px auto 30px auto;
        padding: 10px;
        font-size: 14px;
    }

.thumbnail-wrapper {
  width: 90%;
   overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.thumbnail-wrapper:hover {
 opacity:60%;
}

.thumbnail {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
}

.thumbnail-centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
}
.fa-times {
    margin: 10px 20px;
    right:20px;
}
.thumbnail-img {
/*   max-width: 100%; */
/*   height: 박스의 height와 같아야 한다. */
  transform: translate(-50%, -50%);
}
