@import url(/css/inc/reset.css);
@import url(/css/inc/layout.css);
@import url(/css/inc/style.css);

main {
    margin: 50px;
}

a {
  color: black;
}

.text-highlight {
  color: #e37682;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-btn {
  width: 90%;
  margin: 25px auto 0px auto;
  display: flex;
}

.date-btn input[type='date'] {
  width: 135px;
}

.date-btn input[type='date']:last-child {
  margin-left: -5px;
}

.search-btn {
  display: flex;
}

.search-btn select {
  width: 75px;
  --margin: 10px;
}

.search-btn input[type='text'] {
  width: 500px;
  margin: 0px 10px;
  padding: 5px;
  outline: none;
}

.search-btn input[type='submit'] {
  width: 45px;
  margin-left: 5px;
  font-family: FontAwesome;
}

.search-btn input[type='submit']:hover {
  cursor: pointer;
}

.btn-reg {
  margin: 20px;
}

.btn-reg a {
  color: #292929;
  font-size: 12px;
  padding: 7.5px 12.5px;
  border: solid 2px #292929;
}

.board-container {
  --width: 90%;
  display: grid;
  margin: 0px auto 30px auto;
  padding: 10px;
  font-size: 14px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  min-width: 1080px;
}

.board-channel {
  width: 450px;
  background: white;
  padding: 10px;
  text-align: left;
  border: solid 2px #dddddd;
  display: flex;
}

.board-channel:hover {
  border-radius: 20px;
  transition: 0.5s;
  border: solid 2px #292929;
}

.channel-content {
  --margin-bottom: 10px;
  flex-direction: column;
  --flex-grow: 1;
}

.channel-img {
  -flex-grow: 1;
  width: 220px;
  height: 275px;
}

.channel-info {
  width: 215px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channel-info > div {
  color: #292929;
  margin: 10px 0px 10px 10px;
  display: flex;
}

.channel-info > div > span:nth-child(1) {
  color: burlywood;
}

.info-writer,
.info-hit,
.info-date {
  font-size: 14px;
}

.channel-box {
  flex-direction: column;
  margin-left: 10px;
}

.channel-box > div {
  border-radius: 20px;
  text-align: center;
  width: 60%;
  margin: 10px 0px;
  padding: 7.5px 20px;
}
.channel-box .like-hate {
  font-family: '777Littlebear';
  justify-content: space-around;
  font-size: 1.5em;
  color: #292929;
}

.channel-box i:hover {
  cursor: pointer;
  color: #e37682;
}

.channel-box .link-youtube {
  font-size: 1.25em;
  background: #c20000;
  color: white;
}

.channel-box .link-youtube:hover {
  opavity: 0.5;
}

.content {
  display: block;
  height: 60px;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  word-break: break-word;
}
/* .board-channel .channel-title {
        font-family: Arial, Helvetica;
        color: #20232a;	
        display: flex;
    }

        .channel-title a {
            margin: 0px 5px;
        }

        .channel-title .channel-img img {
            width: 40px;
        } */

.board-channel .title {
  background: #20232a;
  color: white;
  margin: 0 0 0 10px;
  padding: 15px;
  width: 200px;
  height: 150px;
  line-height: 20px;
}

.title-content {
  display: flex;
}

.img-title {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  word-break: break-word;
}

.board-channel .like-header {
  width: 50%;
}

.board-channel .title > div {
  margin-bottom: 5px;
  border-bottom: solid;
  padding-bottom: 5px;
}
.board-channel .title > div > span {
  padding: 5px;
  margin-right: 10px;
}

.board-channel .title > span {
  --padding-left: 15px;
  font-size: 15px;
  color: #bbbbbb;
}

.page-num {
  text-align: right;
  color: #292929;
  display: flex;
  max-width: 1080px;
  margin: auto;
}

.page-num .current {
  color: #e37682;
}

.page-num span {
  margin: 5px;
}

.pager {
  width: 40%;
  padding: 40px;
  margin: 0px auto;
  color: #292929;
}

.pager i {
  border-radius: 50px;
  padding: 5px;
  border: solid white 1px;
}

.pager a:hover {
  color: #e37682;
}
