
@import url(/css/inc/reset.css);
@import url(/css/inc/layout.css);
@import url(/css/inc/style.css);

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@font-face { font-family: '777Littlebear'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Littlebear.woff') format('woff'); font-weight: normal; font-style: normal; }


	#main {
	    height: 800px;
	}

    .container-table {
        width: 90%;
        margin: 100px auto;
    }
    
    .reg-table {
        background: white;
        width: 700px;
        margin: 10px auto;
        border: solid 1px #cccccc;
        color: #292929;
    }
    
    thead {
        border: solid 1px #cccccc;
    }
    
    .reg-table tr td {
        padding: 5px;
    }
    
    .reg-table tr th {
        padding: 10px 30px;
        font-size: 0.9em;
        font-weight: bold;
    }
    
    .reg-table img {
	    width: auto;
	    height: 20px;
    }

    .reg-table>thead>tr>td {
        font-size: 0.9em;;
        font-weight: bold;
    }
    
    .reg-table>thead th {
        width: 25%;
        border-bottom: solid 1px #cccccc;
    }
    
    .reg-table>thead td {
        text-align: left;
        border-bottom: solid 1px #cccccc;
    }
        
    .reg-table td input {
	    height: 25px;
    }
    
        .reg-table td input[type="text"] {
     	   width: 450px;
 	   }

	    .reg-table input[type="submit"] {
	        width: 35px;
	        font-family: FontAwesome;
	        background: white;
	        border: none;
	    }

    textarea {
        width: 90%;
        padding: 15px;
        font-size: 1.5em;
        margin: 20px;
    }
    
    .bottom-btn {
        margin: 40px;
    }
    
	    .bottom-btn input {
	        padding: 5px 10px;
	        margin: 10px;
	        font-family: 'Orbitron', sans-serif;
	    }
	
	    .bottom-btn input:hover {
	        cursor: pointer;
	        opacity: 0.5;
	    }